*** USE THE CONCEPT OF LOOPS TO SOLVE THE BELOW PROGRAMS***

1) Python program to count the total number of digits in a number.

TAKE THE INPUT NUMBER : 123456

In [5]:
#wRITE YOUR CODE HERE
n=int(input())
dig=0
while(n>0):
    dig=dig+1
    n=n//10
print(dig)

123456
6

2) Python program to count the number of even and odd numbers from a series of numbers.

num_list = [1,3,5,6,99,134,55]

In [6]:
#WRITE YOUR CODE HERE
num_list=[1,3,5,6,99,134,55]
odd=0
even=0
for i in range(0,len(num_list)):
  if(num_list[i]%2==0):
    even=even+1
  else:
    odd=odd+1
print(odd,even)

5 2

3) Python program to get the Fibonacci series between 0 to 50.

In [10]:
#WRITE YOUR CODE HERE
a=0
b=1
print(a)
print(b)
for i in range(2,51):
  c=a+b
  if(c>50):
    break
  print(c)
  a=b
  b=c

0
1
1
2
3
5
8
13
21
34

4) Python program that accepts a string and calculates the number of digits and letters.

Input

WEBBLINDERS1234

In [8]:
#WRITE YOUR CODE HERE
n=input()
num=0
letters=0;
for i in range(0,len(n)):
  if(n[i]>='0' and n[i]<='9'):
    num=num+1
  else:
    letters=letters+1
print(num,letters)

WEBBLINDERS1234
4 11

5) Python program to display all numbers within a range except the prime numbers.

INPUT RANGE : 30 TO 80

In [9]:
#WRITE YOUR CODE HERE
for i in range(30,81):
  prime=0
  for j in range(2,i//2+1):
    if(i%j==0):
      prime=1
      break
  if(prime==1):
    print(i)

30
32
33
34
35
36
38
39
40
42
44
45
46
48
49
50
51
52
54
55
56
57
58
60
62
63
64
65
66
68
69
70
72
74
75
76
77
78
80