*** USE THE CONCEPT OF FUNCTIONS TO SOLVE THE BELOW PROGRAMMING QUESTIONS ***

1) Write a Python function to sum all the numbers in a list.

Sample List : (8, 2, 3, 0, 7)

Expected Output : 20

In [4]:
#WRITE YOUR CODE HERE
def sum(lis):
  sum=0
  for i in lis:
    sum=sum+i
  return sum
lis=[8,2,3,0,7]
print(sum(lis))

20

2) Write a Python function to multiply all the numbers in a list.

Sample List : (8, 2, 3, -1, 7)

Expected Output : -336

In [6]:
#WRITE YOUR CODE HERE
def mul(lis):
  mul=1
  for i in lis:
    mul=mul*i
  return mul
lis=[8,2,3,-1,7]
print(mul(lis))

-336

3) Write a Python program to reverse a string.

Sample String : "1234abcd"

Expected Output : "dcba4321"

In [8]:
#WRITE YOUR CODE HERE
def rev(s):
  return s[::-1]

s=input()
print(rev(s))

1234abcd
dcba4321

4)Write a Python program to find factorial of a number.

In [1]:
#WRITE YOUR CODE HERE
def fact(n):
  if(n==0 or n==1):
    return 1
  return n*fact(n-1)
n=int(input())
print(fact(n))

5
120

5) Write a Python function to check whether a number falls within a given range.

In [3]:
#WRITE YOUR CODE HERE
def check(n,low,high):
  if(n>=low and n<=high):
    return True
  return False
n=int(input())
low=int(input())
high=int(input())
if(check(n,low,high)):
  print("Yes")
else:
  print("No")

4
1
10
Yes